parameters:
    level: 5
    paths:
        - src
        - templates
        - tests
        - access_guard.php
        - notification_helper.php
        - db.php
        - config.php
    excludePaths:
        - vendor
        - _archive (?)
